<div class="jumbotron">
  <div class="col d-flex flex-column">
    <div class="container">
      <h1 class="display-4 title text-white">Find Your Next Favorite Spot</h1>
      <h3 class="subtitle">Stop relying on word of mouth to find stunning views in Jordan.</h3>
    </div>
    <div class="container text-center p-t-lg p-b-lg">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="overlay"></div>
          <div class="city-search m-t-xl m-b-xl">
            <%= form_with url: stunning_views_path, method: 'get', html:{class:"form-inline active-cyan-4 justify-content-center"} do |form| %>
              <a class="btn btn-lg btn-info main mr-2" href="<%= stunning_views_path(nearby:true) %>">Find Nearby   <i class="fas fa-map-marker-alt"></i></a>
              <h4 class="mr-2 p-t-sm p-b-sm city-search-text"><strong>or start with a city:</strong></h4>
              <%= form.hidden_field :city_id, id: 'my_city_id' %>
              <%= form.autocomplete_field :city_name, autocomplete_city_name_cities_path, {id_element: 'my_city_id', class: 'form-control'} %>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>