@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";

$featured-bottom-gradient-color: #b4ffe8;
$featured-top-gradient-color: #cd80af;

.title, .subtitle, .city-search-text{
  color: white !important;
}

.city-search{
  position: relative;
}

.site-mod{
  color: rgb(96, 201, 96);
  border: 2px solid rgb(96, 201, 96);
  border-radius: 3px;
  padding: 4px;
}

.overlay{
  background-color: grey;
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jumbotron {
  background-image: url(asset-path('home.jpg'));
  background-size: cover;
}

.label{
  display: inline-block;
}

#overlooking-icon{
  color: goldenrod;
}

.xbootstrap {
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  margin-top: 0;
}

//override
.well{
  margin-bottom: 0;
}
.carousel{
  border-left: 5px solid $featured-bottom-gradient-color;
  border-right: 5px solid $featured-bottom-gradient-color;
  border-bottom: 5px solid $featured-bottom-gradient-color;
}

div.featured{
  display:block;
  margin: 0;
  text-align: center;
  color: white;
  border-radius: 0;
  background: $featured-top-gradient-color;
  background: linear-gradient(180deg, $featured-top-gradient-color 0%, $featured-bottom-gradient-color 100%);
}

.navbar{
  margin-bottom: 0;
}


/* === card component ====== */

.card.featured{
  border-color: goldenrod;
}

.card-clickable, .card-clickable:hover{
  color: inherit;
  text-decoration: none;
}

 .card{ background-color: #fff; border: 1px solid transparent; border-radius: 6px;  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
 .card > .card-link{ color: #333; }
 .card > .card-link:hover{  text-decoration: none; }
 .card > .card-link .card-img img{ border-radius: 6px 6px 0 0; }
 .card .card-img{ position: relative; padding: 0; height: 34vw; object-fit: cover; width: 100% }
 .card .card-img .card-caption{
   position: absolute;
   right: 0;
   bottom: 16px;
   left: 0;
 }
 .card .card-body{ display: table; width: 100%; padding: 12px; text-decoration: none; }
 .card .card-header{ padding: 8px; background-color: goldenrod !important; color: white;}
 .card .card-footer{ border-radius: 0 0 6px 6px; padding: 8px; }
 .card .card-left{ position: relative; float: left; padding: 0 0 8px 0; }
 .card .card-right{ position: relative; float: left; padding: 8px 0 0 0; }
 .card .card-body h1:first-child,
 .card .card-body h2:first-child,
 .card .card-body h3:first-child, 
 .card .card-body h4:first-child,
 .card .card-body .h1,
 .card .card-body .h2,
 .card .card-body .h3, 
 .card .card-body .h4{ margin-top: 0; text-decoration: none; }
 .card .card-body .heading{ display: block;  }
 .card .card-body .heading:last-child{ margin-bottom: 0; }
 
 .card .card-body .lead{ text-align: center; }
 
 @media( min-width: 768px ){
   .card .card-left{ float: left; padding: 0 8px 0 0; }
   .card .card-right{ float: left; padding: 0 0 0 8px; }
     
   .card .card-4-8 .card-left{ width: 33.33333333%; }
   .card .card-4-8 .card-right{ width: 66.66666667%; }
 
   .card .card-5-7 .card-left{ width: 41.66666667%; }
   .card .card-5-7 .card-right{ width: 58.33333333%; }
   
   .card .card-6-6 .card-left{ width: 50%; }
   .card .card-6-6 .card-right{ width: 50%; }
   
   .card .card-7-5 .card-left{ width: 58.33333333%; }
   .card .card-7-5 .card-right{ width: 41.66666667%; }
   
   .card .card-8-4 .card-left{ width: 66.66666667%; }
   .card .card-8-4 .card-right{ width: 33.33333333%; }
 }
 
 /* -- default theme ------ */
 .card-default{ 
   border-color: #ddd;
   background-color: #fff;
   margin-bottom: 24px;
   text-decoration: none;
 }
 .card-default > .card-header,
 .card-default > .card-footer{ color: #333; background-color: #ddd; }
 .card-default > .card-header{ border-bottom: 1px solid #ddd; padding: 8px; }
 .card-default > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
 .card-default > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
 .card-default > .card-left{ padding-right: 4px; }
 .card-default > .card-right{ padding-left: 4px; }
 .card-default p:last-child{ margin-bottom: 0; }
 .card-default .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
 
 
 /* -- price theme ------ */
 .card-price{ border-color: #999; background-color: #ededed; margin-bottom: 24px; }
 .card-price > .card-heading,
 .card-price > .card-footer{ color: #333; background-color: #fdfdfd; }
 .card-price > .card-heading{ border-bottom: 1px solid #ddd; padding: 8px; }
 .card-price > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
 .card-price > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
 .card-price > .card-left{ padding-right: 4px; }
 .card-price > .card-right{ padding-left: 4px; }
 .card-price .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
 .card-price p:last-child{ margin-bottom: 0; }
 
 .card-price .price{ 
   text-align: center; 
   color: #337ab7; 
   font-size: 3em; 
   text-transform: uppercase;
   line-height: 0.7em; 
   margin: 24px 0 16px;
 }
 .card-price .price small{ font-size: 0.4em; color: #66a5da; }
 .card-price .details{ list-style: none; margin-bottom: 24px; padding: 0 18px; }
 .card-price .details li{ text-align: center; margin-bottom: 8px; }
 .card-price .buy-now{ text-transform: uppercase; }
 .card-price table .price{ font-size: 1.2em; font-weight: 700; text-align: left; }
 .card-price table .note{ color: #666; font-size: 0.8em; }

 /*Margin and Padding helpers*/
/*xs*/
.p-xs { padding: .25em; }
.p-x-xs { padding: 0 .25em; }
.p-y-xs { padding: .25em 0 ; }
.p-t-xs { padding-top: .25em; }
.p-r-xs { padding-right: .25em; }
.p-b-xs { padding-bottom: .25em; }
.p-l-xs { padding-left: .25em; }
.m-xs { margin: .25em; }
.m-x-xs { margin: 0 .25em; }
.m-y-xs { margin: .25em 0 ; }
.m-r-xs { margin-right: .25em; }
.m-l-xs { margin-left: .25em; }
.m-t-xs { margin-top: .25em; }
.m-b-xs { margin-bottom: .25em; }
/*sm*/
@media (min-width:768px){
/*sm*/
.p-sm { padding: .5em; }
.p-x-sm { padding: 0 .5em; }
.p-y-sm { padding: .5em 0 ; }
.p-t-sm { padding-top: .5em; }
.p-r-sm { padding-right: .5em; }
.p-b-sm { padding-bottom: .5em; }
.p-l-sm { padding-left: .5em; }
.m-sm { margin: .5em; }
.m-x-sm { margin: 0 .5em; }
.m-y-sm { margin: .5em 0 ; }
.m-t-sm { margin-top: .5em; }
.m-r-sm { margin-right: .5em; }
.m-b-sm { margin-bottom: .5em; }
.m-l-sm { margin-left: .5em; }
}

/*md*/
@media (min-width: 992px){
.p-md { padding: 1em; }
.p-x-md { padding: 0 1em; }
.p-y-md { padding: 1em 0; }
.p-t-md { padding-top: 1em; }
.p-r-md { padding-right: 1em; }
.p-b-md { padding-bottom: 1em; }
.p-l-md { padding-left: 1em; }
.m-md { margin: 1em; }
.m-x-md { margin: 0 1em; }
.m-y-md { margin: 1em 0 ; }
.m-t-md { margin-top: 1em; }
.m-r-md { margin-right: 1em; }
.m-b-md { margin-bottom: 1em; }
.m-l-md { margin-left: 1em; }
}

/*lg*/
@media (min-width: 1200px){
.p-lg { padding: 1.5em; }
.p-x-lg { padding: 0 1.5em; }
.p-y-lg { padding: 1.5em 0; }
.p-t-lg { padding-top: 28rem; }
.p-r-lg { padding-right: 1.5em; }
.p-b-lg { padding-bottom: 7rem; }
.p-l-lg { padding-left: 1.5em; }
.m-lg { margin: 1.5em; }
.m-x-lg { margin: 0 1.5em; }
.m-y-lg { margin: 1.5em 0; }
.m-t-lg { margin-top: 1.5em; }
.m-r-lg { margin-right: 1.5em; }
.m-b-lg { margin-bottom: 1.5em; }
.m-l-lg { margin-left: 1.5em; }
}
/*xl*/
.p-xl { padding: 3em; }
.p-x-xl { padding: 0 3em; }
.p-y-xl { padding: 3em 0 ; }
.p-t-xl { padding-top: 3em; }
.p-r-xl { padding-right: 3em; }
.p-b-xl { padding-bottom: 3em; }
.p-l-xl { padding-left: 3em; }
.m-xl { margin: 3em; }
.m-x-xl { margin: 0 3em; }
.m-y-xl { margin: 3em 0; }
.m-t-xl { margin-top: 3em; }
.m-r-xl { margin-right: 3em; }
.m-b-xl { margin-bottom: 3em; }
.m-l-xl { margin-left: 3em; }

/*jQuery UI autocomplete for bootstrap*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}